<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
<!--  <div class="field">-->
<!--    <label>Username</label>-->
<!--    <input formControlName="username" />-->
<!--  </div>-->
  <app-input
    inputType="text"
    label="Username"
    [control]="authForm.get('username')">
  </app-input>
  {{authForm.get('username')?.errors | json}}

  <app-input
    inputType="password"
    label="Password"
    [control]="authForm.get('password')">
  </app-input>
  {{authForm.get('password')?.errors | json}}

  <app-input
    inputType="password"
    label="Confirm Password"
    [control]="authForm.get('passwordConfirmation')">
  </app-input>
  {{authForm.get('passwordConfirmation')?.errors | json}}

  <div
    *ngIf="
      authForm.get('password')?.touched &&
      authForm.get('passwordConfirmation')?.touched &&
      authForm.errors"
    class="ui red basic label">
    <p *ngIf="authForm.errors?.['passwordsDontMatch']">
      Passwords does not match.
    </p>
  </div>

  <div>
    <button type="submit" class="ui submit button primary">Submit</button>
    {{authForm.errors |json}}
  </div>

</form>
<div>{{authForm.controls['username'].value}}</div>
<div>{{authForm.controls['password'].value}}</div>
<div>{{authForm.controls['passwordConfirmation'].value}}</div>
