<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">Angular email</a>

    <div class="right menu">
      <ng-container *ngIf="signedin$ | async">
        <a class="ui item" routerLink="/inbox" routerLinkActive="active">
          Inbox
        </a>
        <a class="ui item" routerLink="/inbox" routerLinkActive="active">
          Sign out
        </a>
      </ng-container>

      <ng-container *ngIf="!(signedin$ | async)">
        <a class="ui item" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
          Sign In
        </a>
        <a class="ui item" routerLink="auth/sign-up" routerLinkActive="active">
          Sign Up
        </a>
      </ng-container>

    </div>
  </div>
  <router-outlet />
</div>

<!--<ul>-->
<!--  <li>-->
<!--    <a routerLink="auth">Sign in</a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a routerLink="auth/sign-up">Sign up</a>-->
<!--  </li>-->
<!--</ul>-->


