<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">Angular email</a>

    <div class="right menu">
      <a class="ui item" routerLink="/inbox" routerLinkActive="active">
        Inbox
      </a>
      <a class="ui item" routerLink="/inbox" routerLinkActive="active">
        Sign out
      </a>
      <a class="ui item" routerLink="/" routerLinkActive="active">
        Sign In
      </a>
      <a class="ui item" routerLink="auth/sign-up" routerLinkActive="active">
        Sign Up
      </a>
    </div>
  </div>
</div>

<!--<ul>-->
<!--  <li>-->
<!--    <a routerLink="auth">Sign in</a>-->
<!--  </li>-->
<!--  <li>-->
<!--    <a routerLink="auth/sign-up">Sign up</a>-->
<!--  </li>-->
<!--</ul>-->

<router-outlet />
